body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mystery-box {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin: 10px auto;
}

#question-mark {
  font-size: 120px;
}

#reset-button {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  #mystery-box {
    width: 150px;
    height: 150px;
  }

  #question-mark {
    font-size: 50px;
  }

  .choice {
    font-size: 2rem;
  }
}