body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; */
}

#inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#apiKeyInput {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#userRequest {
  flex-grow: 1;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#getHelpBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#helpList {
  list-style: none;
  margin: 20px 0;
}

ol {
  padding-left: 10px;
  list-style: none;
  counter-reset: steps;
}

ol li {
  counter-increment: steps;
}

ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #ff6f00;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}

li {
  margin-bottom: 8px;
}

#loading-icon {
  margin: 20px 0;
}

.notes {
  font-size: 0.9rem;
  color: slategrey;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* For screens smaller than 768px (mobile screens) */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }

  #userRequest {
    font-size: 14px;
    padding: 8px;
  }

  #getHelpBtn {
    padding: 8px 16px;
    font-size: 14px;
  }
}