/* Reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Global styles */
body {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #343a40;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

label {
  font-size: 1.25rem;
  color: #495057;
  margin-bottom: 5px;
}

textarea.slots {
  width: 100%;
  border: 1px solid #ced4da;
  min-height: 20px;
  margin-bottom: 10px;
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  resize: none;
  overflow: hidden;
}

.word-count-box {
  text-align: right;
}

#word-count {
  font-weight: bold;
  color: #77798c;
}

button {
  font-size: 1.125rem;
  background-color: #1e90ff;
  color: white;
  font-weight: 700;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

button:disabled {
  background-color: #bbbbbb;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0f7ae5;
}

/* Media query for responsiveness */
@media (max-width: 480px) {

  body {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  label {
    font-size: 1.125rem;
  }
}