* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #e43f5a;
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
}

u {
  border-bottom: 1px dotted #1f4068;
  text-decoration: none;
}

main {
  margin-top: 50px;
}

#counter {
  color: gray;
}

#generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#question-display {
  padding: 0 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}


#challenges {
  width: 60%;
  margin: 50px auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 10px 0;
}

.button {
  margin: 0 10px;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.ai {
  margin-top: 50px;
}

#ai-response {
  margin-top: 20px;
  padding: 0 50px;
  font-size: 20px;
  color: teal;
}

/* @media only screen and (max-width: 767px) {
  #questionDisplay {
    margin-bottom: 10px;
  }
} */